<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/assets/galler.css"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Happy Birthday Stupid</title>
</head>
<body style="background-color:#171717 ;">
  <div class="container">
    <h1>Picture Gallery</h1>
    <div class="row">
      <div class="col-md-4">
        <img class="img-thumbnail" src="/assets/10.JPG"/>
      </div>
      <div class="col-md-4">
        <img class="img-thumbnail" src="/assets/11.jpg"/>
      </div>
      <div class="col-md-4">
        <img class="img-thumbnail" src="/assets/12.jpg"/>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <img class="img-thumbnail" src="/assets/13.jpg"/>
      </div>
      <div class="col-md-4">
        <img class="img-thumbnail" src="/assets/14.jpg"/>
      </div>
      <div class="col-md-4">
        <img class="img-thumbnail" src="/assets/15.jpg"/>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <img class="img-thumbnail" src="/assets/16.jpg"/>
      </div>
      <div class="col-md-4">
        <img class="img-thumbnail" src="/assets/17.jpg"/>
      </div>
      <div class="col-md-4">
        <img class="img-thumbnail" src="/assets/18.jpg"/>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <img class="img-thumbnail" src="/assets/19.jpg"/>
      </div>
      <div class="col-md-4">
        <img class="img-thumbnail" src="/assets/20.jpg"/>
      </div>
      <div class="col-md-4">
        <img class="img-thumbnail" src="/assets/21.jpg"/>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <img class="img-thumbnail" src="/assets/4.JPG"/>
      </div>
      <div class="col-md-4">
        <img class="img-thumbnail" src="/assets/7.JPG"/>
      </div>
      <div class="col-md-4">
        <img class="img-thumbnail" src="/assets/6.JPG"/>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <img class="img-thumbnail" src="/assets/1.JPG"/>
      </div>
      <div class="col-md-4">
        <img class="img-thumbnail" src="/assets/5.JPG"/>
      </div>
      <div class="col-md-4">
        <img class="img-thumbnail" src="/assets/3.JPG"/>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <img class="img-thumbnail" src="/assets/8.JPG"/>
      </div>
      <div class="col-md-4">
        <img class="img-thumbnail" src="/assets/9.JPG"/>
      </div>
      <div class="col-md-4">
        <img class="img-thumbnail" src="/assets/33.jpg"/>
      </div>
    </div>

  </div>
</body>
</html>


<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <style></style>
  <link rel="stylesheet" href="/assets/galler.css"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Happy Birthday Stupid</title>
</head>
<body>
  <div class="container">
  
    <div class="gallery">
      <div class="row">
        <div class="col-md-4">
      <a class="gallery-item" href="#"><img src="http://www.placeimg.com/330/265" alt="Headshot of George Washington"><span class="text-wrapper"><span class="name">George Washington</span><span class="title">Principal</span></span></a>
    </div>
    <div class="col-md-4">
      <a class="gallery-item" href="#"><img src="http://placeimg.com/330/265" alt="Headshot of John Adams"><span class="text-wrapper"><span class="name">John Adams</span><span class="title">Chief Financial Officer</span></span></a>
    </div>
    <div class="col-md-4">
      <a class="gallery-item" href="#"><img src="http://placeimg.com/330/265" alt="Headshot of Thomas Jefferson"><span class="text-wrapper"><span class="name">Thomas Jefferson</span><span class="title">Chief Operating Officer</span></span></a>
    </div>
    </div>
      <!-- <a class="gallery-item" href="#"><img src="http://placeimg.com/330/265" alt="Headshot of James Madison"><span class="text-wrapper"><span class="name">James Madison</span><span class="title">Developer</span></span></a>
  
      <a class="gallery-item" href="#"><img src="http://placeimg.com/330/265" alt="Headshot of James Monroe"><span class="text-wrapper"><span class="name">James Monroe</span><span class="title">Developer</span></span></a>
  
      <a class="gallery-item" href="#"><img src="http://placeimg.com/330/265" alt="Headshot of Andrew Jackson"><span class="text-wrapper"><span class="name">Andrew Jackson</span><span class="title">Designer</span></span></a>
  
      <a class="gallery-item" href="#"><img src="http://placeimg.com/330/265" alt="Headshot of John Tyler"><span class="text-wrapper"><span class="name">John Tyler</span><span class="title">Designer</span></span></a>
  
      <a class="gallery-item" href="#"><img src="http://placeimg.com/330/265" alt="Headshot of James Polk"><span class="text-wrapper"><span class="name">James Polk</span><span class="title">Project Manager</span></span></a>
  
      <a class="gallery-item" href="#"><img src="http://placeimg.com/330/265" alt="Headshot of Zachary Taylor"><span class="text-wrapper"><span class="name">Zachary Taylor</span><span class="title">Project Manager</span></span></a> -->
  
    </div>
    
  </div>  
</body>
</html>
 -->
